/* Body */

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #fc7a5a;
    color: #fff;
    text-align: center;
    margin: 0;
}

 
/* Header */

.header {
    height: 10vh;
}

.header__title {
    position: absolute;
    left: 0;
    top: 0;
    padding: 1em;
    text-transform: uppercase;
}

.header__nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
}

.header__nav__a {
    font-size: 0.5em;
}

/* Main */
main {
    position: absolute;
    top: 10em;
    z-index: 4;
    width: 100vw;
    height:50vh;
    display:flex;
    justify-content: center;
    padding-left:7vw;
    padding-right:7vh;
}

.main__top__tagline {
    text-transform: uppercase;
}

.main__top__p {
    font-size: 1.7em;
    font-weight: bold;
}

.main__section {
    display: flex;
    justify-content: space-between;
    position: absolute;
    max-width:90vw;
}

.main__section__small-img {
    max-width:10vw;
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40vh;
    display:flex;
    justify-content: center;
}

.footer__section {
    display: flex;
    position: absolute;
    bottom:5vh;
    z-index:4;
    max-width:60vw;
}

.footer__section__img-down__h2 {
    text-transform: uppercase;
    font-size: 1em;
    color: #fc7a5a;
}

.footer__section__img-up__h2 {
    text-transform: uppercase;
    font-size: 1em;
    color: #fc7a5a;
}

.footer__p {
    position: absolute;
    bottom: 0;
    left: 25vw;
    align-items: center;
    text-transform: uppercase;
    color: #fc7a5a;
    z-index: 4;
}

/* Blue waves */

.waves-wrapper1 {
    height:40vh;
    width:100%;
    overflow:hidden;
    position: absolute;
    bottom:0;
    /* Svg is encoded with http://www.asiteaboutnothing.net/c_decode-url.html */
    background-image:url("data:image/svg+xml, %3Csvg%20class%3D%22wave1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20150%22%20preserveAspectRatio%3D%22none%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%20%22%235039eb%22%20fill-opacity%3D%221%22%20z-index%3D%222%22%20d%3D%22M-0.27%2C47.86%20C85.50%2C-47.86%20301.06%2C67.59%20501.41%2C2.47%20L500.00%2C150.00%20L-1.41%2C150.48%20Z%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fsvg%3E%20");
}
.waves-wrapper2 {
    height:40vh;
    width:100%;
    overflow:hidden;
    position: absolute;
    bottom:0;
    */* Svg is encoded with http://www.asiteaboutnothing.net/c_decode-url.html */
    background-image:url("data:image/svg+xml, %3Csvg%20class%3D%22wave1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20150%22%20preserveAspectRatio%3D%22none%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%20%22%235039eb%22%20fill-opacity%3D%220.33%22%20z-index%3D%221%22%20d%3D%22M0.28%2C3.47%20C207.95%2C4.45%20214.73%2C67.59%20502.54%2C-1.47%20L500.00%2C150.00%20L0.00%2C150.00%20Z%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fsvg%3E%20");
}
.wave1 {
    height: 100%;
    width: 100%; 
    fill: #5039eb;
    z-index: 3;
}